# .NET
bin/
obj/
*.user
*.suo
[Dd]ebug/
[Rr]elease/
project.lock.json
*.db
*.db-shm
*.db-wal

# Angular / Node
node_modules/
dist/
.angular/
npm-debug.log*
yarn-error.log*

# Editors / OS
.vs/
.vscode/
.idea/
.DS_Store
Thumbs.db

# Env
*.env
.env.local
